/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.title{
    font-size: 3rem;
    font-weight: bold;
  }
.sub-title{
  font-size: 2rem;
  font-weight: normal;
}